* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #222;
}

body {
    margin: 0;
    font-family: Poppins-Regular;
    -webkit-font-smoothing: antialiased;
    position: relative;
    padding-bottom: 100px;
}

.mainContainer {
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

@font-face {
    font-family: Poppins-Regular;
    src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins-Light;
    src: url("./assets/fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: Poppins-Bold;
    src: url("./assets/fonts/Poppins-Bold.ttf");
}